// out: style.css, compress: true

/******************************************************/
/* Variables and mixins
/******************************************************/

@background-color: #DDDDDD;
@title-color: #ff7f2a;
@button-color: #114D7D;

/******************************************************/
/* General stuff
/******************************************************/

body, html{
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;

	color: #333;
	background: @background-color;
}

h1, h2, h3, h4, h5, h6 {
	color: @title-color;
	font-weight: medium;
}

.clear {
	clear: both;
	display: block;
}

/**
 * The general box used for consistency on
 * all steps when entering statements.
 *
 * 1. The button row has padding to prevent
 *    collapsing margins of enclosed buttons.
 * 2. The general row for buttons has no height and no width.
 */

.box {
	position: relative;
	margin: auto;
	width: auto;
	height: auto;
	padding: 20px;
	text-align: left;
	background-color: white;
	margin-bottom: 20px;

	&>h1, &>h2, &>h3, &>h4, &>h5, &>h5{
		margin-top: 1px;
		margin-bottom: 20px;
	}

	table {

		margin-top: -20px;

		td {
			padding: 15px 10px 0 0;
		}
	}
}

.btn-center {
	text-align: center;
	margin-bottom: 0;
}

.map-btn {
	margin-left: 10px;
	margin-top: -55px;
	position: absolute;
}

.row-buttons {
	padding-top: 1px; /* 1 */
	text-align: right;
	height: auto; /* 2 */
	width: auto;
	margin: 0 auto;

	.btn {
		vertical-align: bottom;
	}
}

/**
 * The general code to format mini images (photos).
 *
 * The size of the wrapper defines the image size.
 * The enclosed image has always the same height as the
 * wrapper. An optional border with the same dimensions
 * as the wrapper can be placed inside the wrapper before
 * the img to add a border with an inner shadow.
 *
 * 1. If the contained image is wider than the wrapper
 *    it is clipped.
 * 2. Position the image in the middle of the
 *    parent (horizontally and vertically).
 */

.image-wrapper {
	float: left;
	position: relative;
	margin-right: 20px;
	overflow: hidden; /* 1 */
	border-radius: 3px;

	.border {
		position: absolute;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 2px;
		z-index: 2;
		box-sizing: border-box;
	}

	img {
		height: 100%;
		z-index: 1;

		/* 2 */
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
		-moz-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
	}
}

.image-wrapper.true {
	img {
		display: block;
	}

	img.generic-avatar{
		display: none;
	}
}

.image-wrapper.false {
	img {
		display: none;
	}

	img.generic-avatar{
		display: block;
	}
}

/**
 * General progress
 */

.row-progress{
	margin-top: 25px;
}

.wrapper-progress {
	width: 482px;
	margin: auto;
	margin-bottom: 0;
	font-size: 12px;

	.progress-help {
		font-size: 14px;
		margin: 0 0 3px 0;
	}

	.progress {
		margin-bottom: 0;
		border-radius: 0px;
		height: 30px;
		background: rgb(204, 204, 204);
		box-shadow: none;
	}

	.progress-bar {
		padding-top: 5px;
		font-size: 14px;
		background: @title-color;
	}
}

/******************************************************/
/* Webcam and controls
/******************************************************/

/**
 * The webcam-area contains the actual webcam or the photo.
 *
 * 1. After taking a photo it appears with a white border
 */

.webcam-area {
	width: 480px;
	height: 360px;
	margin: auto;
	text-align: center;
	margin-bottom: 15px;
	padding: 0;

	.webcam, .webcam-photo {
		width: 480px;
		height: 360px;
		margin: auto;
		text-align: center;
	}

	.webcam {
		overflow: hidden;
	}

	.webcam-photo {
		border: 5px solid white; /* 1 */
	}
}

.box-step-1 {
	text-align: center;
	width: 482px;

	h2 {
		font-size: 23px;
	}
}

.row-buttons-snap-area {
	width: 480px;
	height: 77px;
	text-align: center;
	margin-bottom: 15px;
	visibility: hidden;

	&.webcamReady {
		visibility: visible;
	}

	.shutter .glyphicon {
		font-size: 50px;
	}

	.row-buttons {
		padding-top: 20px;
	}

}

.link-nophoto {
	display: inline-block;
	margin-top: 10px;
	padding-right: 20px;
	color: gray;
	font-size: small;
}

/******************************************************/
/* Google map on the start
/******************************************************/

.google-map-start .angular-google-map,
.google-map-start .angular-google-map-container {
	width: 100%;
	height: 620px;
}

.google-map-start .angular-google-map{
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	overflow: hidden;
}

/**
 * Informing the user to drag the marker.
 */

.box-drag-marker, .box-statement {
	width: auto;
}

/******************************************************/
/* Big overview Google Map
/******************************************************/

.overview-map {
	width: 100%;
	height: 500px;
}

/******************************************************/
/* Statement Form
/******************************************************/

.box-statement {

	.image-wrapper {
		height: 100px;
		width: 100px;
	}

	label {
		display: inline;

		h2 {
			margin: 0;
		}
	}

	.category-help {
		margin-bottom: 25px;
	}

	.statement-input {
		height: 90px;
		margin-top: 15px;
		margin-bottom: 15px;
		font-weight: bold;
		font-size: 20px;
		color: #114D7D;
	}

	.location {
		margin: 0;
		margin-top: 25px;
		line-height: 2px;
		text-align: left;
		float: left;
	}

	.send-button {
		float: right;
	}

	.table-categories {

		width: 100%;
		margin-bottom: 10px;
		text-align: center;

		td{
			width: 25%;
		}

		img {
			width: 32px;
			height: 32px;
			margin-bottom: 3px;
		}

		label {
			font-weight: normal;
		}

		input:required {
			box-shadow: none;
		}
	}
}


/******************************************************/
/* Last step: Finished message
/******************************************************/

.box-finished {
	width: 490px;
	margin-top: 130px;
}

#mail-success, #mail-error {
	font-size: 14px;
}

/******************************************************/
/* Navigation Bar
/******************************************************/

.navbar-static-top {
	border-bottom: 1px solid transparent;
}

.navbar-default {
	height: 100px;
	background-color: transparent;

	.navbar-header{
		background: white;
	}

	.navbar-brand {
		margin-top: 33px;
		padding: 40px;
		padding-top: 1px;
		color: @title-color;
		font-weight: bold;
		font-size: 20px;

		.glyphicon {
			font-size: 27px;
			margin-right: 6px;
		}
	}

	.sponsor {
		height: 70px;
		margin: 0;
		margin-right: 10px;
	}

	.ljr {
		height: 40px;
		width: 65px;
		margin-top: 8px;
	}

	.nlm {
		height: 50px;
		width: 49px;
	}

	.impressum {
		margin-top: 23px;
		color: @title-color !important;
		font-size: 16px;
		font-weight: bold;
	}
}

.footer {
	margin-top: 30px;
	margin-bottom: 15px;

	a {
		color: gray;
		text-decoration: none;
	}
}

/******************************************************/
/* Buttons
/******************************************************/

.btn {
	color: white;
	background-color: @button-color;
	border-color: darken(@button-color, 5%);
	text-align: center;

	&:hover, &:focus, &:active {
		background-color: darken(@button-color, 10%);
		border-color: darken(@button-color, 10%);
		color: white;
	}

	&.btn-primary {
		background-color: @title-color;
		border-color: darken(@title-color, 8%);

		&:hover, &:focus, &:active {
			background-color: darken(@title-color, 16%);
			border-color: darken(@title-color, 16%);
			color: white;
		}
	}
}

/******************************************************/
/* Google map on the big screen
/******************************************************/

.google-map-big .angular-google-map,
.google-map-big .angular-google-map-container {
	width: 100%;
	height: 100%;
}

/**
 * The map on the map-screen has a width of 80%
 * because the sidebar has a width of 20%.
 */
.google-map-big .angular-google-map {
	width: ~"calc(100% - 350px)";
	z-index: 50;
}

/**
 * The inner container of the map window (tooltip).
 *
 * 1. Prevent collapsing margins
 */

.map-window-inner {

	position: relative;
	padding-top: 1px; /* 1 */
	width: 100%;
	height: 208px;
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;

	.image-wrapper {
		width: 178px;
		height: 200px;
		margin-top: 5px;
	}

	.title {
		min-width: 400px;
		max-width: 450px;
		font-size: 22px;
		-moz-hyphens: auto;
		-o-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}

	.category {
		position: absolute;
		bottom: 0;
		right: 0;

		img {
			width: 32px;
			height: 32px;
		}
	}
}

/******************************************************/
/* Sidebar
/******************************************************/

.sidebar-right {
	z-index: 100;
	float: right;
	display: block;
	position: fixed;
	width: 350px;
	height: 100%;
	box-sizing: border-box;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

	right: 0;
	top: 0;
	bottom: 0;

	border-left: 1px solid rgba(0, 0, 0, 0.4);

	overflow: hidden;
	overflow-y: scroll;

	background: white;

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.sidebar.overview{
	width: ~"calc(100% - 300px)";

	.item-statement{
		width: 200px;
		height: 200px;

		padding: 0;
		text-align: left;
		float: left;
		border: none;

		.delete{
			display: none;
		}

		span{
			display: none;
		}

		.image-wrapper{
			width: 200px;
			height: 200px;
			margin-right: 0px;
			border-radius: 0;

			.border{
				width: 200px;
				height: 200px;
				border-radius: 0;
				display: none;
			}
		}
	}
}

.sidebar.overview{

	.item-statement.active{

		.image-wrapper{
			-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);

			z-index: 200;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			border: 5px solid #7abcff;
		}
	}
}

/******************************************************/
/* Sidebar: Statement list
/******************************************************/

.list-statement {
	padding: 0;
	margin: 0;
	list-style: none;
}

.item-statement {
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7) inset;
	font-size: 15px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);

	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfcfc 0%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfcfc 0%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc 0%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfcfc 0%,#e2e2e2 100%); /* W3C */

	.delete{
		position: absolute;
		float: right;
		border: 1px solid transparent;
		height: 20px;
		width: 20px;
		border-radius: 1000px;
		box-sizing: border-box;
		right: 10px;
		cursor: pointer;

		img{
			height: 14px;
			width: 14px;
			opacity: 0.5;
			margin-top: 2px;
			margin-left: 2px;
		}
	}

	.delete:hover{
		img{
			opacity: 0.8;
		}
	}

	.image-wrapper{
		width: 70px;
		height: 70px;
		margin-right: 15px;

		.border{
			width: 70px;
			height: 70px;
		}
	}
}

.item-statement.active {
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

/******************************************************/
/* Sidebar: Search
/******************************************************/

.sidebar-controls {
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 16px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	position: relative;

	.overview-toggle, .additional-controls-toggle, input.search {
		float: left;
		padding: 5px 10px 5px 10px;
		box-sizing: border-box;
		border: 1px solid rgba(0, 0, 0, 0.3);
		display: inline-block;
	}

	.overview-toggle, .additional-controls-toggle{
		float: left;
		margin-right: 10px;
		border-radius: 3px;
		font-size: 12px;
		background: rgba(0, 0, 0, 0.02);
		cursor: pointer;
	}

	.additional-controls-toggle {
		padding: 5px 10px 1px 10px;
		img{
			height: 16px;
			width: 16px;
			opacity: 0.5;
		}
	}

	input[type='text']{
		display: inline-block;
		padding: 5px 10px 5px 10px;
		box-sizing: border-box;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 3px;
	}

	input.search {
		width: 200px;
		border-radius: 100px;
	}

	input[type='text']:focus {
		border: 1px solid rgba(0, 0, 0, 0.45);
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) inset;
	}

}

.sidebar-controls-additional {
	display: none;
}

.sidebar-controls-additional.open {
	height: 100px;
	display: block;
}

/******************************************************/
/* Export
/******************************************************/

.download-box {

	text-align: center;

	a {

		margin-bottom: 20px;

		.glyphicon {
			font-size: 40px;
		}
	}
}
