<!DOCTYPE html>
<html lang="de" ng-app="UserInterface1">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="neXTmap">
		<meta name="author" content="Jumax">

		<title>neXTmap</title>

		<!-- CSS -->
		<link href="bundles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="bundles/css/style.css?ver=7" />

		<!-- JS -->
		<script type="text/javascript" src="bundles/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="bundles/angularjs/angular-route.min.js"></script>
		<script type="text/javascript" src="bundles/angularjs/angular-animate.min.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="bundles/lodash/lodash.underscore.min.js"></script>
		<script type="text/javascript" src="bundles/angularjs/google-maps/angular-google-maps.min.js"></script>
		<script type="text/javascript" src="bundles/webcamjs/webcam.min.js"></script>
	</head>
	<body ng-controller="PhotoBooth">

		<!--Facebook-SDK-->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<!-- Static navbar -->
		<div class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href ng-click="reset()"><span class="glyphicon glyphicon-map-marker"></span>neXTmap</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden-xs hidden-sm"><a target="_blank" href="http://www.ljr.de"><img class="sponsor ljr" src="bundles/img/logos/ljr.png" alt="LJR" /></a></li>
						<li class="hidden-xs hidden-sm"><a target="_blank" href="http://nlm.de"><img class="sponsor nlm" src="bundles/img/logos/4_nlm.png" alt="NLM" /></a></li>
						<li class="hidden-xs hidden-sm"><a class="impressum" target="_blank" href="http://www.ljr.de/Impressum.impressum.0.html">Impressum</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Container for the pages -->
		<div class="container">

			<!-- Page 1: The Webcam -->
			<div ng-show="page==1 && !$routeParams.statementId" class="row page-1">
				<div class="col-lg-12 start-center">

					<div class="webcam-area box" id="webcam-area">
						<img ng-if="statement.image" class="webcam-photo" alt="Webcam Photo" ng-src="{{statement.image}}"/>
						<div ng-hide="statement.image" style="width:480px; height:360px;" class="webcam" id="webcam"></div>
					</div>

					<div class="row-buttons row-buttons-snap-area" id="wrapper-snap-buttons">
						<button ng-if="!statement.image" class="btn btn-lg btn-primary shutter" ng-click="takeSnapshot()"><span class="glyphicon glyphicon-camera"></span></button>
						<div class="row-buttons" ng-show="statement.image">
							<button class="btn btn-default" style="width: 144px; float: left;" ng-click="statement.image=''; progress=10"><span class="glyphicon glyphicon-refresh"></span> Neu aufnehmen</button>
							<button class="btn btn-primary" style="width: 144px; float: right;" ng-click="goToPage(2); statement.hasImage=true; progress=30">Weiter <span class="glyphicon glyphicon-chevron-right"></span></button>
						</div>
					</div>

					<div class="box box-step-1">

						<h2>Was soll in deiner Stadt besser werden?</h2>
						<p>Nimm ein Foto von dir auf!</p>
						<a class="link-nophoto" href ng-click="statement.image=''; goToPage(2); progress=30">Weiter ohne Foto <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>

				</div>
			</div>

			<!-- Page 2: The Google Map -->
			<div ng-if="page==2" class="row page-2">
				<div class="col-md-6">

					<google-map class="google-map-start" center="map.center" zoom="map.zoom" draggable="true" options="map.options">
						<marker idKey="1" coords="marker.coords" options="marker.options" icon="marker.icon" events="marker.events"></marker>
					</google-map>

				</div>

				<div class="col-md-6 container-box">

					<div ng-if="!showStatementForm" class="box box-drag-marker">
						<h2>Wo wohnst du?</h2>
						<p>Ziehe die Stecknadel auf deinen Wohnort!</p>
					</div>

					<form ng-if="showStatementForm" name="statementForm" class="box box-statement">
						<div ng-if="statement.image" class="image-wrapper">
							<img ng-src="{{statement.image}}" alt="photo">
						</div>

		    		<label for="statement-input">
		    			<h2>Sag uns, wie du deine Stadt verbessern möchtest!</h2>
		    		</label>
		    		<div class="clear"></div>

		    		<textarea ng-model="statement.title" required="required" class="form-control statement-input" id="statement-input" placeholder="Was wünschst du dir?"></textarea>
						<p class="category-help">Wähle einen Bereich, den du verbessern möchtest:</p>
						<table class="table-categories"><tbody>
							<tr ng-repeat="category in categories" ng-if="$index % 4 == 0">
								<td ng-repeat="category in categories.slice($index, $index+4)">
									<label for="{{category}}">
										<img ng-src="bundles/img/category-icons/{{category.toLowerCase()}}.png"><br>
										<input id="{{category}}" required ng-model="statement.category" type="radio" value="{{category}}" name="category"> {{category}}
									</label>
								</td>
							</tr>
						</tbody></table>

		    		<div class="row-buttons">
		    			<p ng-if="statement.location" class="location">In <i>{{statement.location}}</i></p>
							<button ng-disabled=" !(statement.title && statement.category) || submitting" class="btn btn-primary send-button" ng-click="submitStatement()">
								<span ng-if="submitting">
									<span class="glyphicon glyphicon-refresh"></span> Speichern...
								</span>
								<span ng-if="!submitting">
									Abschicken
								</span>
							</button>
			    	</div>
		    		<div class="clear"></div>
					</form>

				</div>
			</div>

			<!-- Page 3: Finished message -->
			<div class="row page-3">

				<div ng-if="page==3 && statement.coords && !notFound" class="col-md-6">

					<google-map class="google-map-start" center="map.center" options="map.options" zoom="6" draggable="true">
						<marker idKey="1" coords="statement.coords">

							<window show="true" options="statement.options">
								<div class="map-window-inner">
									<span class="image-wrapper ng-class:statement.hasImage.toString()">
										<img ng-src="{{statement.image}}" alt="photo">
										<img class="generic-avatar" src="bundles/img/generic-avatar.png" alt="photo">
									</span>
									<h2 class="title">{{statement.title}}</h2>
									<p>In <i>{{statement.location}}</i></p>
									<div class="clear"></div>
									<div class="category">
										<img ng-src="bundles/img/category-icons/{{statement.category.toLowerCase()}}.png" title="Kategorie {{statement.category}}" alt="Kategorie {{statement.category}}">
									</div>
								</div>
							</window>

						</marker>
					</google-map>

				</div>

				<div ng-show="page==3 && !notFound" class="col-md-6">

					<div class="box box-restart">
						<h3>Deine Stimme zählt</h3>
						<p>Dein Statement wurde gespeichert! In wenigen Sekunden siehst du es in der Übericht. Möchtest du dir deine Aussage per E-Mail senden oder bei Facebook teilen?</p>
						<p class="btn-center"><button class="btn btn-primary btn-lg" ng-click="reset()"><span class="glyphicon glyphicon-refresh"></span> Neu starten</button></p>
					</div>

					<div class="box box-share">
						<div ng-show="mailAlert=='success'" class="alert alert-success fade in" id="mail-success">
							<button type="button" class="close" ng-click="mailAlert=''" aria-hidden="true">×</button>
							E-Mail erfolgreich gesendet
						</div>

						<div ng-show="mailAlert=='error'" class="alert alert-danger fade in" id="mail-error">
							<button type="button" class="close" ng-click="mailAlert=''" aria-hidden="true">×</button>
							E-Mail konnte nicht gesendet werden
						</div>

						<h3>Teilen</h3>

						<table class="table-share"><tbody>
							<tr>
								<td class="desc">Per E-Mail:</td>
								<td>
									<div class="input-group" id="mail-send">
										<input id="email" type="email" class="form-control" placeholder="E-Mail-Adresse" name="email" ng-model="email" autocomplete="off">
										<span ng-disabled="!email" ng-click="sendMail()" class="btn input-group-addon"><span class="glyphicon glyphicon-envelope"></span> Senden</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>Bei Facebook:</td>
								<td>
									<div class="fb-like" data-href="{{$location.absUrl()}}" data-width="300" data-action="recommend" data-show-faces="false" data-send="true"></div>
								</td>
							</tr>
						</tbody></table>

					</div>

					<div class="box box-map">
						<h3>Was fordern die anderen?</h3>
						<p>Klick dich durch alle Statements auf unserer Karte und entdecke, was andere Jugendliche aus deiner Region fordern.</p>
						<p class="btn-center"><button class="btn btn-primary btn-lg" ng-click="goToPage(4)"><span class="glyphicon glyphicon-map-marker"></span> Zur Karte</button></p>
					</div>

				</div>

				<!-- Message: Statement not found -->
				<div ng-if="notFound" class="col-md-6 col-md-offset-3 notFound">
					<div class="box">
						<h3>Statement nicht gefunden</h3>
						<p>Leider wurde das von dir aufgerufene Statement nicht gefunden. Vielleicht wurde es gelöscht.</p>
						<p class="btn-center"><button class="btn btn-primary btn-lg" ng-click="reset()"><span class="glyphicon glyphicon-refresh"></span> Neues Statement</button></p>
					</div>
				</div>

			</div>

			<div ng-if="page==4" class="row page-4">

				<div class="col-md-12">

					<google-map class="google-map-start" center="map.center" options="map.options" zoom="6" draggable="true">
						<marker ng-repeat="aStatement in allStatements" coords="aStatement.coords" idKey="aStatement.id">
							<window show="aStatement.show" options="allStatementsOptions">
								<div class="map-window-inner">
									<span class="image-wrapper ng-class:aStatement.hasImage.toString()">
										<img ng-src="backend/data/{{aStatement.id}}/image.jpg" alt="photo">
										<img class="generic-avatar" src="bundles/img/generic-avatar.png" alt="photo">
									</span>
									<h2 class="title">{{aStatement.title}}</h2>
									<p>In <i>{{aStatement.location}}</i></p>
									<div class="clear"></div>
									<div class="category">
										<img ng-src="bundles/img/category-icons/{{aStatement.category.toLowerCase()}}.png" title="Kategorie {{aStatement.category}}" alt="Kategorie {{aStatement.category}}">
									</div>
								</div>
							</window>
						</markers>
					</google-map>

					<p class="map-btn"><button class="btn btn-primary btn-lg" ng-click="goToPage(3)"><span class="glyphicon glyphicon-chevron-left"></span> Zurück</button></p>

				</div>
			</div>

			<div ng-hide="page==1 || notFound || page==4 || $routeParams.statementId" class="row row-progress">
				<div ng-hide="$routeParams.statementId && page==1" class="wrapper-progress">
					<p class="progress-help">Schritt <b>{{page}}</b> von <b>3</b></p>
					<div class="progress progress-general">
						<div class="progress-bar" role="progressbar" style="width: {{progress}}%;">
							{{progress}}%
						</div>
					</div>
				</div>
			</div>

			<div class="row footer">
				<div class="col-md-6">© <script>document.write(new Date().getFullYear())</script> entwickelt von <a target="_blank" title="jumax.net" href="http://jumax.net">Jumax</a>, Grafik <a title="a04.de" target="_blank" href="http://a04.de">a04.de</a>, Icons <a title="icons8.com" target="_blank" href="http://icons8.com/download-huge-windows8-set/">icons8.com</a></div>
			</div>

		</div> <!-- /container -->

		<!-- Configure a few settings and attach camera -->
		<script src="script.js?ver=7"></script>

		<!-- Bootstrap core JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="bundles/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
