<!DOCTYPE html>
<html lang="de" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="beteiligungskarte-map">
	<head>
		<meta charset="UTF-8">
		<title>NeXTmap</title>
			<script type="text/javascript" src="../bundles/angularjs/angular.min.js"></script>
			<script type="text/javascript" src="../bundles/angularjs/angular-route.min.js"></script>
			<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
			<script type="text/javascript" src="../bundles/lodash/lodash.underscore.min.js"></script>
			<script type="text/javascript" src="../bundles/angularjs/google-maps/angular-google-maps.min.js"></script>
			<script type="text/javascript" src="script.js?ver=7"></script>

			<link rel="stylesheet" type="text/css" href="../bundles/css/style.css?ver=7" />
	</head>
	<body ng-controller="mapCtrl">

		<div class="sidebar sidebar-right ng-class:sidebar.cssClass">

				<div class="sidebar-controls">
					<div class="overview-toggle" ng-click="sidebar.toggleOverview()">Wall</div>
					<div class="additional-controls-toggle" ng-click="sidebar.toggleAdditionalControls()"><img src="../bundles/img/icon-settings.png"></div>
					<input class="search" ng-model="searchText" type="text" value="" placeholder="Suche...">
					<div class="clear"></div>
				</div>

				<div class="sidebar-controls sidebar-controls-additional ng-class:sidebar.addCtrlClass">
					<p>Zeit zum Anzeigen eines Statements (in ms)</p>
					<input ng-model="cycle.interval" ng-change="cycle.changeInterval()" type="text" value=""><input ng-change="cycle.changeInterval()" type="range" min="1000" max="20000" ng-model="cycle.interval">
					<div class="clear"></div>
				</div>

				<ul class="list list-statement">
					<li ng-repeat="statement in markers | filter:searchText" class="item-statement ng-class:statement.isSelected" ng-click="activateStatement(statement.id)">

						<div class="delete" ng-click="deleteStatement(statement); $event.stopPropagation();"><img src="../bundles/img/delete.png"></div>

						<div class="image-wrapper">
							<div class="border"></div>
							<img ng-show="statement.hasImage" ng-src="../backend/data/{{statement.id}}/image.jpg" alt="photo">
							<img ng-hide="statement.hasImage" ng-src="../bundles/img/generic-avatar.png" alt="photo">
						</div>

						<span>{{statement.title}}</span>
						<div class="clear"></div>
					</li>
				</ul>

		</div>

		<google-map class="google-map-big" options="map.options" center="map.center" zoom="map.zoom" pan="true" draggable="true">
			<marker ng-repeat="aStatement in markers" coords="aStatement.coords" idKey="aStatement.id">
				<window show="aStatement.show" options="allStatementsOptions">
					<div class="map-window-inner">
						<span class="image-wrapper ng-class:aStatement.hasImage.toString()">
							<img ng-src="../backend/data/{{aStatement.id}}/image.jpg" alt="photo">
							<img class="generic-avatar" src="../bundles/img/generic-avatar.png" alt="photo">
						</span>
						<h2 class="title">{{aStatement.title}}</h2>
						<p>In <i>{{aStatement.location}}</i></p>
						<div class="clear"></div>
						<div class="category">
							<img ng-src="../bundles/img/category-icons/{{aStatement.category.toLowerCase()}}.png" title="Kategorie {{aStatement.category}}" alt="Kategorie {{aStatement.category}}">
						</div>
					</div>
				</window>
			</markers>
		</google-map>


	</body>
</html>
